/* Body */
body {
    font-size: 16px;
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-bottom: 0.75rem;
}

input, select, textarea {
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar {
    position: sticky;
    top: 0px;
    background-color: #191919;
    color: white;
    text-align: end;
    display: flex;
    justify-content: space-between;
    padding: 10px 16%;
}

.ulist {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    width: 175px;
}

.ulist li {
    list-style: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.ulist a {
    text-decoration: none;
    color: white;
}

/* main */

main {
    margin: 0 0;
}

/* Introduction */

.introduction {
    background-image: url(img/background.jpg);
    background-size: cover;
    height: 1072px;
    display: flex;
}

.int-overlay {
    height: 100%;
    width: 100%;
    background: rgba(19, 15, 64,0.65);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.int-overlay h1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
}

.int-overlay p, .int-button {
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
}

.int-button {
    padding: 10px;
    background-color: #191919;
    color: white;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    transition: 0.75s;
}

.int-button:hover {
    background-color: rgba(158, 158, 158, 0.75);
    color: black;
    border: 1px solid black;
}

.prod {
    max-width: 625px;
    padding-right: 5.25rem;
}

/* Subscribe */

.subscribe {
    background-color: #191919;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.send-sub {
    display: flex;
    justify-content: space-around;
    width: 75%;
}

.send-sub input {
    width: 410px;
    height: 45px;
    font-size: 20px;
}

.send-sub button {
    width: 410px;
    font-size: 20px;
    background-color: #4b7bec;
    border: none;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

.send-sub button:hover {
    opacity: 0.65;
}