/* Body */
body {
    font-size: 16px;
    margin: 0 0;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    margin-bottom: 0.75rem;
}

input, select, textarea {
    font-family: 'Montserrat', sans-serif;
}

/* navbar */
.navbar {
    position: sticky;
    top: 0px;
    background-color: #191919;
    color: white;
    text-align: end;
    display: flex;
    justify-content: space-between;
    padding: 10px 16%;
}

.ulist {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    margin: 0;
}

.ulist li {
    list-style: none;
    padding-inline: 5px;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.ulist a {
    text-decoration: none;
    color: white;
}